.video-container {
  position:relative;
  height: 400px;
  display: flex;
  max-width: 100%;
  max-height: 200px;
}

.video-container video{
  position:relative;
  z-index:0;
  max-width: 100%;
}

.video-logo {
  position:absolute;
  top:8px;
  left:8px;
  z-index:1;
}

.video-nameSuper {
  position:absolute;
  top:100px;
  left:10px;
  color: white;
  z-index:1;
}

.video-title {
  position:absolute;
  top:100px;
  left:10px;
  color: white;
  z-index:1;
}